.match-logo {
  width: 25px; /* Smaller logos */
  height: 25px;
  border-radius: 50%;
  object-fit: cover;
}

.match-container {
    width: 80%;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
  }
  

.match-card {
  height: 130px;
  margin-left: auto;
  margin-right: auto;
}

.textshii {
    font-size: 0.7em;
}