.match-logo {
  width: 25px; /* Smaller logos */
  height: 25px;
  border-radius: 50%;
  object-fit: cover;
}

.match-container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  min-height: 100px;
  margin: 0 auto;
}
